Package: ultimmc
Version: 1.6-2
Architecture: all
Maintainer: Neptune <neptune@b7s.ru>
Section: games
Priority: optional
Installed-Size: 75
Depends: zenity, desktop-file-utils, libqt5widgets5, libqt5gui5, libqt5network5, libqt5core5a, libqt5xml5, libqt5concurrent5, wget
Recommends: openjdk-8-jre
Homepage: https://github.com/UltimMC/Launcher
Description: A local install wrapper for UltimMC

